*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}

:root {
  --primary-red: #EB3535;
  --primary-bg: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
  --primary-stroke: #525557;
  --redberry-red: #FE3B1F;
  --redberry-lightred: #f37967;
  --validated: #5bc074;
}

h1, h2, h3, h4 {
  color: var(--redberry-red);
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: normal;
}

button, p, a, li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}

/* Langing Page */
.langing-page {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 19vh;
  overflow: hidden;
  mix-blend-mode: normal;
  background-image: url(./images/stars.png), var(--primary-bg);
  background-size: cover;
  position: absolute;
}

.langing-page h1 {
  position: relative;
  font-size: 5vw;
}

.lp-form {
  padding-top: 9vh;
  width: 423px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 100%;
  border: none;
  margin: 30px 0;
  font-size: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  text-decoration: none;
}

/* BUTTON STYLES */
.circled {
  padding: 25px 90px;
  border-radius: 50px;
  background-color: var(--redberry-red);
}

.squared {
  padding: 25px 90px;
  background-color: var(--redberry-red);
}

.link {
  width: 100%;
  padding: 0 !important;
  background-color: transparent;
  text-decoration: underline;
}

.rocketman {
  width: 35rem;
  position: relative;
  top: -58px;
  left: -33px;
}

/* Langing Page */

/* Form */
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  z-index: 1;
}

.container-inner {
  width: 75%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 10vh 0;
  position: relative;
}

.questionaire h1 {
  font-size: 3.4vw;
  text-align: center;
}

.description h1 {
  font-size: 3.4vw;
}

.description p {
  margin-top: 80px;
  display: flex;
  font-size: 1.4vw;
  line-height: 200%;
  letter-spacing: 0.05rem;
}

.form-app {
  width: 70%;
  background-color: var(--primary-bg);
  margin: 50px auto;
  margin-bottom: 0;
  text-align: center;
  max-height: 53vh;
  overflow-y: scroll;
}

.form-app::-webkit-scrollbar {
  width: 2px;
}

.form-app::-webkit-scrollbar-track {
  background-color: transparent;
}

.form-app::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, transparent, var(--redberry-lightred), transparent);
  border-radius: 50%;
}

.description {
  width: 100%;
  background-image: var(--primary-bg);
}

input {
  width: 90%;
  height: 60px;
  border: 1px solid var(--primary-stroke);
  outline: none;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}


.valid-text {
  background-color: var(--validated);
}

.pagination {
  width: 40%;
  height: 50px;
  margin-top: 8rem;
  display: grid;
  gap: .2rem;
  grid-template-columns: auto auto auto auto auto auto auto;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1366px) {
  .lp-form {
    max-width: 300px;
  }

  .pagination {
    margin-top: .7rem;
  }

  .btn {
    padding: 15px 60px;
    font-size: 1rem;
  }

  .lnk {
    max-width: 400px;
  }

  .rocketman {
    width: 20rem;
    top: -28px;
    left: -25px;
  }
}

.btn-outline {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--redberry-red);
  color: var(--redberry-red);
  font-size: 1rem;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.btn-fill {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--redberry-red);
  border: none;
  font-weight: bold;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.btn-fill:disabled {
  opacity: 0.2;
}