*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --primary-red: #EB3535;
  --primary-bg: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
  --primary-stroke: #525557;
  --redberry-red: #FE3B1F;
}

h1, h2, h3, h4 {
  color: var(--redberry-red);
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: normal;
}

button, p, a, li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}

/* Langing Page */
.langing-page {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 19vh;
  overflow: hidden;
  background: #0C0D0E;
  mix-blend-mode: normal;
  background-image: url(./images/stars.png);
  background-size: cover;
}

.langing-page h1 {
  position: relative;
  font-size: 5vw;
}

.lp-form {
  padding-top: 11vh;
}

.btn {
  background-color: var(--redberry-red);
  border-radius: 50px;
  border: none;
  padding: 15px 60px;
  margin: 10px 0;
  font-size: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.lnk {
  background-color: transparent;
  text-decoration: underline;
  max-width: 400px;
  z-index: 1 !important;
}

.rocketman {
  width: 20rem;
  position: relative;
  top: -28px;
  left: -20px;

}

/* Langing Page */

/* Form */
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}

.container-inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 75px 0;
}

.questionaire h1 {
  font-size: 3.4vw;
  text-align: center;
}

.description h1 {
  font-size: 3.4vw;
}

.description p {
  margin-top: 60px;
  display: flex;
  font-size: 1rem;
  line-height: 200%;
  letter-spacing: 0.05rem;
}

.form-app {
  width: 70%;
  background-color: var(--primary-bg);
  margin: 70px auto;
}

.description {
  width: 100%;
  background-image: var(--primary-bg);
}

input {
  width: 100%;
  height: 54px;
  margin-bottom: 30px;
  border: 1px solid #525557;
  outline: none;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px;
}

.pagination {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: var(--primary-bg);
}